<p>This is the code to show a list of all of the spouses</p>

<ul>
 <% @spouses.each do |spouse| %>
   <li>Name: <%= spouse.name %> Theme: <%= spouse.theme %> Gender: <%= spouse.gender %></li>
 <% end %>
</ul>