<h1>Listing spouses</h1>

<table>
 <tr>
   <th>Title</th>
   <th>Text</th>
 </tr>

 <% @spouses.each do |spouse| %>
   <tr>
     <td><%= spouse.title %></td>
     <td><%= spouse.text %></td>
   </tr>
 <% end %>
</table>
