<h1>Cars</h1>

<table>
 <tr>
   <th>Cars</th>
   <th>Type</th>
 </tr>

 <% @cars.each do |car| %>
   <tr>
     <td><%= car.make %></td>
     <td><%= car.model %></td>
     <td><%= car.year %></td>
     <td><%= car.theme %></td>
   </tr>
 <% end %>
</table>