<h1>Listing houses</h1>
<table>
 <tr>
   <th>Title</th>
   <th>Text</th>
 </tr>
 <% @houses.each do |house| %>
   <tr>
     <td><%= house.title %></td>
     <td><%= house.text %></td>
   </tr>
 <% end %>
</table>