

<div class="editbox">
	<h1 class="edituser">User Info:</h1> 
	<p class="userinfo">First Name: <%= @user.first_name %></p>
	<p class="userinfo">Last Name: <%= @user.last_name %></p>
	<p class="userinfo">Email: <%= @user.email %></p>
</div>
<p class="userlog"><a href="/game_logs">- Game Log -</a></p>