
/********
GENERAL
********/

* {
	box-sizing: border-box;
	
}

body	{
	background-image: url("desk_mash_ga.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

form {
	text-align: center;
	list-style: none;
}

a {
	color: white;
}

.yield {
	margin-top: 300px;
	text-align: center;
}



/********
NAVBAR
********/

.navbar {
	min-height: 40px;
	color: white;
	background: transparent;
	border: 0px solid white;
	text-align: center;
}

.container {
	text-align: center;
}

.navbar-header {
	font-weight: bold;
	font-size: 20px;    
	margin-top: 5px;
	text-align: center;
}

.navlink {
	color: white;
	text-align: center;
	width: 100%;
}



/********
LOGIN/REGISTERPAGE
********/

.field {
	padding: 10px;
}



/********
GAMEPAGE
********/

.categories {
	background-color: white;
	font-size: 24px;
	font-family: "Indie Flower", cursive;
	text-align: center;
	text-decoration: underline;
	border: 1px solid #83d0c9;
	border-radius: 2px 2px 0 0;
	width: 200px;
	height: 50px;
}

.options {
	border: 1px solid #83d0c9;
	font-family: "Indie Flower", cursive;
	font-size: 16px;
	width: 200px;
	height: 30px;
}

.outputbar {
	margin-top: 10%;
	margin-bottom: 35px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.form-control {
	color: white;
	font-weight: lighter;
}

.mashbtn {
	font-family: "Indie Flower", cursive;
	font-size: 24px;
	color: white;
	height: 34px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #191919;
}

#results {
	background-color: #191919;

}

.refresh-btn {
	margin-bottom: 50px;
	border-radius: 100px;
	background-color: black;
	font-weight: bold;
}



/********
EDITUSERSPAGE
********/

.editbox {
	width: 300px;
	height: 190px;
	border: 5px solid white;
	margin: 0 auto;
}

.edituser {
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: underline;
}

.userinfo {
	color: white;
	font-size: 16px;
	text-align: left;
	padding-left: 5%;
	padding-top: 2%;
}

.userlog {
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 15px;
}


/********
HOMEPAGE
********/

.indexbox {
	width: 25%;
	height: 30%;
	border: 5px solid white;
	margin: 0 auto;
}

.register_login {
	list-style: none;
	font-size: 36px;
	color: white;
	padding-top: 1%;
}



/********
GAMELOGPAGE
********/

.gamelog {
    color: white;
    text-align: center;
    font-size: 18px;
    list-style: none;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
