* {
	box-sizing: border-box;
}

body	{
	background-image: url("desk_mash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

form {
	text-align: center;
	list-style: none;
}

.yield {
	margin-top: 200px;
}

.field {
	padding: 10px;
}

.navbar {
	min-height: 40px;
}


.navbar-header {
	font-weight: bold;
	font-size: 20px;    
	margin-top: 5px;
}

.choice {
	margin-top: 30%;
}

.categories {
	background-color: white;
	font-size: 24px;
	font-family: "Indie Flower", cursive;
	text-align: center;
	text-decoration: underline;
	border: 1px solid #83d0c9;
	border-radius: 2px 2px 0 0;
	width: 200px;
	height: 50px;
}

.options {
	border: 1px solid #83d0c9;
	font-family: "Indie Flower", cursive;
	font-size: 16px;
	width: 200px;
	height: 30px;
}

/*.pencil {
	background-color: transparent;
	width: 25px;
	height: 25px;
}*/

.outputbar {
	margin-top: 150px;
}

.mashbtn {
	font-family: "Indie Flower", cursive;
	font-size: 24px;
	color: white;
	height: 34px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #191919;
}

#results {
	background-color: #191919;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
