<!DOCTYPE html>
<html>
<head>
  <title>MASH Game</title>
  	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Covered+By+Your+Grace|Rock+Salt' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>

  <%= yield %>

</body>
</html>
